<!-- Navigation Partial -->

<a class="nav-back-arrow" href="#"></a>
<ul id="nav-primary-level" class="nav-primary-level">
    <!-- add active class for active category -->


    {{#items}}
        <li><a href="{{link}}"><span class="ico ico-header ico-{{icon}}"></span>{{title}}</a></li>
    {{/items}}

    <!--<li><a href="category-mobile.html"><span class="ico ico-header ico-personal_mobile"></span>{{title}}</a></li>-->

    <!---->
    <!--<li><a href="category-tablet.html"><span class="ico ico-header ico-personal_tablet"></span>Tablet</a>-->

    <!--</li>-->
    <!--<li><a href="category-tablet.html"><span class="ico ico-header ico-personal_internet"></span>Broadband</a>-->

    <!--</li>-->
    <!--<li><a href="homephone.html"><span class="ico ico-header ico-personal_home-phone"></span>Home phone</a>-->

    <!--</li>-->
    <!--<li><a href="bundles.html"><span class="ico ico-header ico-personal_bundles"></span>Bundles</a>-->

    <!--</li>-->
    <!--<li><a href="tv.html"><span class="ico ico-header ico-personal_tv"></span>Tv</a>-->

    <!--</li>-->
    <!--<li class="locked align-right "><a href="support.html"><span class="ico ico-header ico-personal_support"></span>Support</a>-->

    <!--</li>-->
</ul>